body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin-top: 50px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

select {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
}

button {
  margin-left: 10px;
  padding: 10px;
  background-color: #0077b6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
}

#infoButton {
  height: fit-content;
}

table {
  border-collapse: collapse;
  margin-top: 10px;
  margin-bottom: 30px;
  max-height: 400px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

table th,
table td {
  padding: 10px;
  text-align: left;
}

table th {
  background-color: #0077b6;
  color: #fff;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

a {
  text-decoration: none;
  color: #0077b6;
}

a:hover {
  text-decoration: underline;
}

.box-db {
  margin-top: 0;
  max-height: 300px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.info-div {
  display: none;
  width: 800px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0px;
}

.info-div p {
  text-align: justify;
}

.search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 300px;
}

.search-input::placeholder {
  color: #999;
}

.txt-center {
  text-align: center;
  padding: 0;
  margin-top: 5;
  margin-bottom: 0;

}

tfoot td {
  font-weight: bold;
  color: #fff;
  background-color: green;
  padding: 8px;
  border-top: 1px solid #ddd;
}